/*RESET CSS*/
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #A4E8ED;
}

header{
    min-height: 50px;
    max-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #41BEF0;
}


footer{
    min-width: 50px;
    margin-top: auto;  
    background-color: #d5f4e6;
    text-align: center; 
    background-color: #41BEF0;
}

ul,li{
    list-style: none;
    font-size: 1.2rem;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0)
}

div > img{
    width: 150px;
    height: 100px;
}

.menu{
    display: flex;
}

.menu li a{
    padding: 5px;
}

h1{
    font-family: Parisienne;
    text-align: center;
    margin-top: 30px;
    font-size: 3em;
    color: rgb(0, 0, 0);
}

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
}

.flex > div{
    /*flex-grow; flex-shrink; flex-basis*/
    flex: 1 1 200px;
    margin: 10px;
}

.about{
    display: flex;
    margin: 2em;
}

.sobre{
    font-size: 1.4em;
}

fieldset {
    margin: auto;
    border: none;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

form input {
    width: 100%;
    max-width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

form button {
    width: 100%;
    max-width: 250px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

legend{
    font-size: 2em;
    text-align: left;
    padding-bottom: 1em;
}

    

input[type="text"],input[type="password"],input[type="email"]{
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 1.5em;
}